@import url('https://fonts.googleapis.com/css?family=Cabin');

#username {
  font-size: 100%;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
}

#signUpPassword {
  font-size: 100%;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
}

.signinForm {
  margin-left: 15%;
}

.signupForm {
  margin-left: 15%;
}

.signedIn {
  margin-left: 92%;
  word-wrap: break-word;
}

.profilebtn {
  margin-left: 92%;
}

.logoutbtn {
  margin-left: 92%;
}



button {
  font-family: 'Nunito Sans', sans-serif;
}
