.aboutBody {
  height: 81vh;
  background-color: rgba(15, 190, 226, .1);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(38,37,38, 0.4);
  box-shadow: 0 0 30px rgba(38,37,38, 0.4);
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 3%;
}

.aboutP {
  font-family: 'Nunito Sans', sans-serif;
  width: 75%;
  text-align: center;
  margin-left: 12.5%;
  font-size: 150%;
  padding-top: 4%;
}

.aboutP2 {
  font-family: 'Nunito Sans', sans-serif;
  width: 75%;
  text-align: center;
  margin-left: 12.5%;
  font-size: 150%;
  padding-top: 4%;
}
