.question {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.contactBody {
  height: 78vh;
  background-color: rgba(15, 190, 226, .1);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(38,37,38, 0.4);
  box-shadow: 0 0 30px rgba(38,37,38, 0.4);
  font-family: 'Nunito Sans', sans-serif;
}

.inputwrapper {
  text-align: center;
  font-size: 220%;
}

.inputhead {
  font-size: 90%;
}

.input1 {
  width: 20%;
  height: 3vh;
  font-size: 80%;
  font-family: 'Nunito Sans', sans-serif;
}

.textarea {
  width: 60%;
  height: 10vh;
  font-family: 'Nunito Sans', sans-serif;
}

.reach {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 200%;
}

.footy2 {
  height: 22vh;
  margin-top: .5%;
  text-align: center;
  background-color: rgba(9, 153, 15, .7);
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.footwords2 {
  padding-top: 5.5%;
}
